
@{
    ViewData["Title"] = "_Footer";
}
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="img/footer-logo.png" alt="Footer Logo" height="25">
                        </a>
                    </div>
                    <ul>
                        <li>70 Ly Thai To, HCM</li>
                        <li>Phone: +84.39.847.13.04</li>
                        <li>Email: chauquocalin1@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Thông Tin</h5>
                    <ul>
                        <li><a href="">Tài Khoản</a></li>
                        <li><a href="">Tin Tức</a></li>
                        <li><a href="">Giỏ Hàng</a></li>
                        <li><a href="">Mua Hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Thông Tin</h5>
                    <ul>
                        <li><a href="">Tài Khoản</a></li>
                        <li><a href="">Tin Tức</a></li>
                        <li><a href="">Giỏ Hàng</a></li>
                        <li><a href="">Mua Hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get Email updates about our latest shop and special offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="button">Subscribe</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <!-- Fixed JavaScript code for the year -->
                        Copyright &copy; <script>document.write(new Date().getFullYear());</script>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>