@{
    ViewData["Title"] = "Home Page";
}
 <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-items set-bg" data-setbg="img/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Bag,kid</span>
                            <h1>Black Friday </h1>
                            <p>Don't miss our exclusive Black Friday deals! Dive into the biggest sale of the year with unbeatable discounts up to 50% off on all your favorite brands. From stylish bags to the latest kid's fashion, find everything you need to kickstart your holiday shopping. Hurry, these deals won't last long!</p>
                            <a href="#" class="primary-btn"> Mua Ngay</a>
                        </div>

                    </div>
                    <div class="off-card">
                        <h2><span> 50 %</span></h2>

                    </div>
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="img/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Bag,kid</span>
                            <h1>Black Friday </h1>
                            <p>Don't miss our exclusive Black Friday deals! Dive into the biggest sale of the year with unbeatable discounts up to 50% off on all your favorite brands. From stylish bags to the latest kid's fashion, find everything you need to kickstart your holiday shopping. Hurry, these deals won't last long!</p>

                            <a href="#" class="primary-btn"> Mua Ngay</a>
                        </div>

                    </div>
                    <div class="off-card">
                        <h2><span> 50 %</span></h2>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- logo  -->
    <div class="partner-logo"> 
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" a>
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" a>
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" a>
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" a>
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" a>
                    </div>
                </div>
            </div>
        </div>
    </div>