@{
    ViewData["Title"] = "Home Page";
}
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="img/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Bag,kid</span>
                        <h1>Black Friday </h1>
                        <p>Don't miss our exclusive Black Friday deals! Dive into the biggest sale of the year with unbeatable discounts up to 50% off on all your favorite brands. From stylish bags to the latest kid's fashion, find everything you need to kickstart your holiday shopping. Hurry, these deals won't last long!</p>
                        <a href="#" class="primary-btn"> Mua Ngay</a>
                    </div>

                </div>
                <div class="off-card">
                    <h2><span> 50 %</span></h2>

                </div>
            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="img/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Bag,kid</span>
                        <h1>Black Friday </h1>
                        <p>Don't miss our exclusive Black Friday deals! Dive into the biggest sale of the year with unbeatable discounts up to 50% off on all your favorite brands. From stylish bags to the latest kid's fashion, find everything you need to kickstart your holiday shopping. Hurry, these deals won't last long!</p>

                        <a href="#" class="primary-btn"> Mua Ngay</a>
                    </div>

                </div>
                <div class="off-card">
                    <h2><span> 50 %</span></h2>

                </div>
            </div>
        </div>
    </div>

</section>
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="img/banner-1.jpg" alt="">
                    <div class="inner-text">
                        <h4>Laptop</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="img/banner-2.jpg" alt="">
                    <div class="inner-text">
                        <h4>Laptop</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="img/banner-3.jpg" alt="">
                    <div class="inner-text">
                        <h4>Đồng Hồ'</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="index.html" aria-label="Home"><i class="fa fa-home"></i> Home</a>
                </div>
            </div>
        </div>
    </div>

</div>
<section class="laptop-banner spad">
    <div class="laptop-banner-container">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="img/products/laptop.jpg">
                    <h2>LapTop</h2>
                    <a href="#">Discover More</a>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="active">Apple</li>
                        <li>Dell </li>
                        <li>HP</li>
                        <li>Acer</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/products/hp_gaming_laptop_avatar.jpg" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="product.html">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="category-name">Coat</div>
                            <a href="#">
                                <h5>Pure Pineapple</h5>
                            </a>
                            <div class="product-price">
                                $14.88
                                <span>$35.00</span>
                            </div>
                        </div>


                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/products/iphone_12_pro_avatar.jpg" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="product.html">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="category-name">Coat</div>
                            <a href="#">
                                <h5>Pure Pineapple</h5>
                            </a>
                            <div class="product-price">
                                $14.88
                                <span>$35.00</span>
                            </div>
                        </div>


                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/products/samsung_s21_ultra_avatar.jpg" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="product.html">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="category-name">Coat</div>
                            <a href="#">
                                <h5>Pure Pineapple</h5>
                            </a>
                            <div class="product-price">
                                $14.88
                                <span>$35.00</span>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>


</section>
<!-- Deal Of The Week Section Begin -->
<section class="deal-of-week set-bg spad" data-setbg="img/time-bg.jpg">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>Deal Of The Week</h2>
                <p> <br></p>
                <div class="product-price">
                    $35.80
                    <span>/ Diện thoai</span>
                </div>
            </div>
            <div class="countdown-timer" id="countdown">
                <div class="cd-item">
                    <span>56</span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span>36</span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span>48</span>
                    <p>Days</p>
                </div>
            </div>
            <a href="shop.html" class="primary-btn">Shop Now</a>

        </div>

    </div>
</section>
<section class="dienthoai-banner spad">
    <div class="laptop-banner-container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="active">Apple</li>
                        <li>Sam Sung </li>
                        <li>Oppo</li>
                        <li>Nokia</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/products/hp_gaming_laptop_avatar.jpg" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="product.html">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="category-name">Coat</div>
                            <a href="#">
                                <h5>Pure Pineapple</h5>
                            </a>
                            <div class="product-price">
                                $14.88
                                <span>$35.00</span>
                            </div>
                        </div>


                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/products/iphone_12_pro_avatar.jpg" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="product.html">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="category-name">Coat</div>
                            <a href="#">
                                <h5>Pure Pineapple</h5>
                            </a>
                            <div class="product-price">
                                $14.88
                                <span>$35.00</span>
                            </div>
                        </div>


                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/products/samsung_s21_ultra_avatar.jpg" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="product.html">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="category-name">Coat</div>
                            <a href="#">
                                <h5>Pure Pineapple</h5>
                            </a>
                            <div class="product-price">
                                $14.88
                                <span>$35.00</span>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="img/products/laptop.jpg">
                    <h2>Dien Thoai</h2>
                    <a href="#">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Product Shop Section End -->

<section class="latest-blog spad">
    <div class="container">
        <div class="benefit-items">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Free Giao Hàng</h6>
                            <p>Miễn Phí giao Hàng 99.999đ</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="img/icon-2.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Free Giao Hàng</h6>
                            <p>Miễn Phí giao Hàng 99.999đ</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="img/icon-3.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Free Giao Hàng</h6>
                            <p>Miễn Phí giao Hàng 99.999đ</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- logo  -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-1.png" a>
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-2.png" a>
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-3.png" a>
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-4.png" a>
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-5.png" a>
                </div>
            </div>
        </div>
    </div>
</div>